.c-btn {
    min-height: 44px;
    min-width: 44px;
    border-radius: 4px;
    background-color: $color-secondary;
    box-shadow: 0 2px $color-secondary-dark;
    color: $color-grey-pale;
    font-size: 48px;
    line-height: 44px;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
