.c-input {
    min-height: 44px;
    border-radius: 4px;
    background-color: $color-white;
    font-size: 20px;
    padding: 0 15px;
    color: $color-grey-dark;
    font-family: $font-family-primary;
    border: 0;
    box-shadow: inset 1px 1px 1px $color-grey-dark;
    width: 220px;
}