.o-layout {
    display: flex;
    min-height: 100%;
}

.o-layout__sidebar {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 300px;
}

.o-layout__main {
    margin-left: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}
