$font-family-brand: "UnifrakturCook", cursive;
$font-family-primary: Cinzel, serif;
$font-family-secondary: Alegreya, serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$color-brand: #F7D423;
$color-brand-light: #F8E795;

$color-secondary: #397304;
$color-secondary-dark: #2A5601;

$color-white: #FFFFFF;

$color-grey-pale:#F4EED1;
$color-grey-pale-dark: #D4C474;
$color-grey-dark: #605F57;
$color-grey-darkest: #171717;

$color-black-transparent: rgba(21, 3, 1, .43);

$color-positive: #76D622;
$color-positive-dark: #254C03;

$color-negative: #FF553D;
$color-negative-dark: #4E0500;